<h1 class="fs-1 pt-4 ps-3">resume review</h1>
<div class="py-5">
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <pdf-viewer [src]="'assets/pdfs/testpdf.pdf'" [render-text]="true" [original-size]="false"
                        style="width: 100%; height: 450px"></pdf-viewer>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row pt-2">
                <div class="col-md-1"></div>
                <div class="col-md-10 d-flex justify-content-center align-items-center">
                    <label class="px-3">{{rating.value}}</label>
                    <mat-slider min="1" max="10" step="1" value="1.5" color = "primary"thumbLabel tickInterval="auto">
                        <input matSliderThumb #rating>
                    </mat-slider>
                    <button mat-flat-button color="primary">SUBMIT</button>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>