<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm>
                <div style="text-align: center;" class="p-4">
                    <img style="max-width: 20vw;" src="assets/images/logo.png">
                </div>
                <h2>Upload your resume to begin!</h2>
                <p class="fs-5" style="color: rgb(101, 99, 99);">Get your resume accurately reviewed and hone your resume reviewing skills.</p>
                <p class="fs-6" style="color: rgb(101, 99, 99);">Please make sure your resume has been anonymized.</p>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Anonymized resume</label>
                    <input class="form-control" type="file" id="formFile">
                  </div>
                <div class="d-grid">
                  <button cButton style="background-color: #0C3E6F; border-color: #0C3E6F;">SUBMIT</button>
                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  