.darkblue {
    background-color: #256BAC;
    color: white;
}

.mediumblue {
    background-color: #81BBFF;
    color: white;
}

.lightblue {
    background-color: #C9D9E8;
    color: #256BAC;
}

.whiteblue {
    background-color: #ECF1F8;
    color: #256BAC;
}