.mat-slider-track-background {
    height: 5px !important;
}

mat-slider {
    width: 60%;
}

.mat-slider {
    --mdc-slider-handle-color: red;
    --mdc-slider-active-track-color: green;
    --mdc-slider-inactive-track-color: orange;
  
    --mdc-slider-inactive-track-height: 12px;
  
    --mdc-slider-handle-height: 25px;
    --mdc-slider-handle-width: 40px;
  
    --mdc-slider-inactive-track-shape: 20px;
  }
