<div class="ps-2 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <app-scorecard cardTitle="your resume score" cardSubtitle="5.00/10"
          backgroundColorClass="darkblue"></app-scorecard>
      </div>
      <div class="col-md">
        <app-scorecard cardTitle="your accuracy score" cardSubtitle="{{accuracy}}/10"
        backgroundColorClass="mediumblue"></app-scorecard>
      </div>
    </div>
    <div class="py-2">
    </div>
    <div class="row">
      <div class="col-md">
        <app-scorecard cardTitle="no. of your reviewers" cardSubtitle="0"
          backgroundColorClass="lightblue"></app-scorecard>
      </div>
      <div class="col-md">
        <app-scorecard cardTitle="no. of resumes reviewed" [cardSubtitle]="noOfResumesReviewed"
        backgroundColorClass="whiteblue"></app-scorecard>
      </div>
    </div>
  </div>
</div>